<div class="search_result_preview">
    <p class="hidden" id="ID">{{_id}}</p>
    <p class="quiz_title">{{name}}</p>
    <p class="num_count">{{card_count}} Questions</p>
    <p class="description">{{creation_date}}: {{description}}</p>
    {{#each tags}}
        <p class="tags">#{{this}}</p>
    {{/each}}
</div>