<div class="search_result_preview">
    <h3>{{name}}</h3>
    <p class="num_count">{{card_count}} Questions</p>
    <p class="description">{{creation_date}}: {{description}}</p>
    {{#each tags}}
    <p class="tags">{{this}}</p>
    {{/each}}
</div>